
nav{
  
  border: 1px solid black;
}

.head-container{

  display: flex;
  margin: auto;
  
  flex-direction: row;
  justify-content: space-between;
  align-content: centre;
  flex-wrap:wrap;
}

.box{
  height:auto;
  padding: 6px;
  margin: 1px;
  border: 1px solid red;
  text-align: center;
}


